vti_encoding:SR|utf8-nl
vti_author:SR|omaid-PC\\omaid
vti_modifiedby:SR|omaid-PC\\omaid
vti_timelastmodified:TR|19 Jan 2015 09:02:58 -0000
vti_timecreated:TR|19 Jan 2015 03:46:24 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Bill\\ Clinton/default.html master.dwt Barack\\ Obama/default.html default.html
vti_nexttolasttimemodified:TR|19 Jan 2015 08:31:26 -0000
vti_cacheddtm:TX|19 Jan 2015 06:25:52 -0000
vti_filesize:IR|844
vti_cachedlinkinfo:VX|S|http://media.npr.org/assets/img/2013/01/21/obama_inaug_tx-c6abdbd1be85bb9c1166072b6769c4db4ac34d82.jpg
vti_cachedsvcrellinks:VX|NSHS|http://media.npr.org/assets/img/2013/01/21/obama_inaug_tx-c6abdbd1be85bb9c1166072b6769c4db4ac34d82.jpg
