vti_encoding:SR|utf8-nl
vti_author:SR|Omaid\\Omaid Noori
vti_modifiedby:SR|Omaid\\Omaid Noori
vti_timelastmodified:TW|20 Jan 2015 02:34:12 -0000
vti_timecreated:TR|20 Jan 2015 01:34:39 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Abraham\\ Lincoln/default.html
vti_nexttolasttimemodified:TW|20 Jan 2015 02:34:12 -0000
vti_cacheddtm:TX|20 Jan 2015 02:34:14 -0000
vti_filesize:IR|831
vti_cachedlinkinfo:VX|S|http://thumbs.media.smithsonianmag.com//filer/the-new-lincoln-photo-631.jpg__800x600_q85_crop.jpg
vti_cachedsvcrellinks:VX|NSHS|http://thumbs.media.smithsonianmag.com//filer/the-new-lincoln-photo-631.jpg__800x600_q85_crop.jpg
