vti_encoding:SR|utf8-nl
vti_author:SR|omaid-PC\\omaid
vti_modifiedby:SR|Omaid\\Omaid Noori
vti_timelastmodified:TR|20 Jan 2015 01:45:35 -0000
vti_timecreated:TR|20 Jan 2015 00:07:09 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|20 Jan 2015 00:11:33 -0000
vti_cacheddtm:TX|20 Jan 2015 01:45:36 -0000
vti_filesize:IR|811
vti_cachedlinkinfo:VX|S|http://www.history.com/topics/us-presidents/john-f-kennedy/videos/kennedy-family-tree
vti_cachedsvcrellinks:VX|NSHS|http://www.history.com/topics/us-presidents/john-f-kennedy/videos/kennedy-family-tree
